<apex:page standardController="Account" extensions="Torque_VFPanelToDsplayUpcmngInvoicesCntr">
	
	<apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"/>
    <apex:includeScript value="{!URLFOR($Resource.TableSort, '/tablesorter-master/jquery.tablesorter.min.js')}"/>
    
    <script>
        
        $j = jQuery.noConflict();    
        
        
        $j(document).ready(function () {
	        $j("[id$=pbTable]").tablesorter({
	        
	        	textExtraction: function(node){ 
	        		return $j(node).text().replace(/[,USD]/g,'');
	        	}
	        });
	        
	        $j.each($j('[id^=lookup]'), function() {
            
                $j(this).removeAttr('onmouseover');
                $j(this).removeAttr('href');
                $j(this).removeAttr('onblur');
                $j(this).removeAttr('onfocus');
                $j(this).removeAttr('onmouseout');
            });
        }); 
        
        function reInitializeTableSorter() {
		    $j("[id$=pbTable]").tablesorter({
		    	textExtraction: function(node){ 
	        		return $j(node).text().replace(/[,USD]/g,'');
	        	}
		    });
		}

    </script>
    
	<style>
		.pageButons {
			text-align: center; 
			padding-top: 5px;
		}
		
		.pageNumber {
			    float: right;
    			padding-top: 5px;
		}
		
		.spanClass {
			display: inline-block;
	    	width: 20%;
	    	font: 17px solid black;
		}
		
		.tablesorter tr .headerRow{
		    cursor: pointer;
		}
	</style>
	
	<apex:pageblock >
		<apex:form >
			<apex:pagemessages />
			
        	<apex:outputPanel rendered="{!!noRecordsFound}" layout="none">
				<div class="pbHeader">
					<table><tbody><tr><td class="pbTitle"><h3>Upcoming Invoices</h3></td></tr></tbody></table>
				</div>
	
				<apex:outputPanel id="refresher">
					<table class="list tablesorter" id="pbTable">
						<thead>
							<tr class="headerRow">
								<apex:repeat value="{!$ObjectType.Project__c.FieldSets.Accounts_VF_Panel_Upcoming_Invoices}" var="field">
						      		<th class="headerRow"><apex:outputPanel >{!field.label}</apex:outputPanel></th>
						      	</apex:repeat>
						    </tr>
						</thead>
						<tbody>
							<apex:repeat value="{!activeProjectsOnAccountList}" var="objProj">
								<tr class="dataRow">
								<apex:repeat value="{!$ObjectType.Project__c.FieldSets.Accounts_VF_Panel_Upcoming_Invoices}" var="field">
							      	<td class="dataCell">
						      			<apex:outputPanel rendered="{!IF(field =='Name',true,false)}">
						      				<apex:outputLink value="#" onclick="window.open('/{!objProj.Id}','_blank');">{!objProj[field]}</apex:outputLink>
						      			</apex:outputPanel>
						      			<apex:outputPanel rendered="{!IF(field =='Name', false, true)}">
						      				<apex:outputField value="{!objProj[field]}"/>
					      				</apex:outputPanel>
						      		</td>
								</apex:repeat>
								</tr>
							</apex:repeat>
						</tbody>
						<tfoot >
							<tr class="totalRow">
								<apex:repeat value="{!$ObjectType.Project__c.FieldSets.Accounts_VF_Panel_Upcoming_Invoices}" var="field">
						      		<th class="totalRow">
						      			<apex:outputPanel rendered="{!IF(field =='Name', true, false)}">Total</apex:outputPanel>
						      			<apex:outputPanel rendered="{!IF(field =='Name', false, true)}">
						      				<apex:outputText value="USD" rendered="{!IF(field.Type=='currency', true, false)}"/> {!fieldNameToTotalSumMap[field]}
						      			</apex:outputPanel>
						      		</th>
						      	</apex:repeat>
						    </tr>
						</tfoot>
					</table>
					
					<div class="pageButons">
						<apex:commandButton value="<<" action="{!first}" disabled="{!!hasPrevious}" reRender="refresher" onComplete="reInitializeTableSorter()"/>&nbsp;&nbsp;
						<apex:commandButton value="<" action="{!previous}" disabled="{!!hasPrevious}" reRender="refresher" onComplete="reInitializeTableSorter()"/>&nbsp;&nbsp;
						<apex:commandButton value=">" action="{!next}" disabled="{!!hasNext}" reRender="refresher" onComplete="reInitializeTableSorter()"/>&nbsp;&nbsp;
						<apex:commandButton value=">>" action="{!last}" disabled="{!!hasNext}" reRender="refresher" onComplete="reInitializeTableSorter()"/>
						<span class="pageNumber">
							<apex:outputText >{!(pageNumber * recordsPerPage)+1-recordsPerPage}-{!IF((pageNumber * recordsPerPage)>totalNoOfRecords, totalNoOfRecords,(pageNumber * recordsPerPage))} of {!totalNoOfRecords}</apex:outputText>
						</span>
					</div>
					
				</apex:outputPanel>
			</apex:outputPanel>
		</apex:form>
	</apex:pageblock>
</apex:page>