<!-- 
    @Name           :   Torque_GenerateProject
    @Date           :   17 Feb, 2016
    @Description    :   An apex page for Torque_GenerateProjectCntlr controller.
    @TestClass      :   Torque_GenerateProjectCntlrTest.cls
    @lastModifiedBy : 	Trekbin on 10 Oct, 2016 - Case 00026497.
 -->
<apex:page sidebar="false" standardController="Opportunity" extensions="Torque_GenerateProjectCntlr" docType="html-5.0">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
    <style>
        .waitingSearchDiv .waitingHolder {
        	top: 5%;
        }
            
        .yui3-button {
   			padding-top: 3px;
    		padding-right: 3px;
		}
		
		.yui3-button-icon {
		    background-image: url("../assets/button/icon-sprite-dark-and-light-24.png");
		    background-repeat: no-repeat;
		    display: inline-block;
		    height: 16px;
		    vertical-align: middle;
		    width: 36px;
		}

		.yui3-button-icon-underline {
		    background-position: 1px -71px;
		}
		
		.requiredFieldError {
			border-collapse: separate;
			box-shadow : -3px 0px 0px #c00;  / Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 /
		}
    </style>
           
           
    <script>
        var notException;
        
		function sumMinHrs(value, type, isDelete) 
		{			
			var classes;
			var strUniqueKey;
			
			if(type == 'strResource')
				strUniqueKey = 'resBudgetMin';
			else
				strUniqueKey = 'budgetItemMinHrs';
		
			if(!isDelete) 
			{
				$(value).each(function(index) {
					var classeslist = $(this).attr('class').split(" ");
		
					for(var i in classeslist) {
						if(classeslist[i].indexOf(strUniqueKey) != -1)
							classes = classeslist[i];
					}
				});
			}
			else 
				classes = value;
				
			var budgetItemID = classes.split(strUniqueKey)[1];
			var deliverableID = classes.split(strUniqueKey)[0];
			var resourceBudgetMinHrsID = deliverableID+strUniqueKey+budgetItemID;
		
			var sum = 0;
			$('.'+resourceBudgetMinHrsID).each(function(index) {
				var value = $(this).val().trim();
				if(value != '' && value != undefined && value.length != 0)
					sum += parseInt(value);
			});
			
			var BudgetMinHrsID = deliverableID+'budgetItemMinHrs'+budgetItemID;
			//$('.'+BudgetMinHrsID).val(sum);
		
			
			var sumDeliverable = 0;
			
			$('.'+deliverableID+'budgetItemMinKey').each(function(index) {
				var value = $(this).val().trim();
				if(value != '' && value != undefined && value.length != 0)
					sumDeliverable += parseInt(value);  
			});
		    
			var DeliverableMinHrsID = deliverableID+'deliverableMinHrs';
			$('.'+DeliverableMinHrsID).val(sumDeliverable);
		
			var sumTotal = 0;
			$('.dMinvalues').each(function(index) {
				var value = $(this).val().trim();
		
			if(value != '' && value != undefined && value.length != 0)
				sumTotal+= parseInt(value);
			});
		
			$('.projectMinHrs').html(sumTotal);         
		}
				
				
		function sumMaxHrs(value, type, isDelete) 
		{            
			var classes;
			var strUniqueKey;
			
			if(type == 'strResource')
				strUniqueKey = 'resBudgetMax';
			else
				strUniqueKey = 'budgetItemMaxHrs';
		
			if(!isDelete) 
			{
				$(value).each(function(index) {
					var classeslist = $(this).attr('class').split(" ");
		
					for(var i in classeslist) 
					{
						if(classeslist[i].indexOf(strUniqueKey) != -1)
							classes = classeslist[i];
					}
				});
			}
			else
				classes = value;	
			
			var budgetItemID = classes.split(strUniqueKey)[1];
			var deliverableID = classes.split(strUniqueKey)[0];
			var resourceBudgetMaxHrsID = deliverableID+strUniqueKey+budgetItemID;
		
			var sum = 0;
			
			$('.'+resourceBudgetMaxHrsID).each(function(index) {
				var value = $(this).val().trim();
				if(value != '' && value != undefined && value.length != 0)
					sum += parseInt(value);
			});
		
			var BudgetMaxHrsID = deliverableID+'budgetItemMaxHrs'+budgetItemID;
			//$('.'+BudgetMaxHrsID).val(sum);
		
			var sumDeliverable = 0;
			$('.'+deliverableID+'budgetItemMaxKey').each(function(index) {
				var value = $(this).val().trim();
				if(value != '' && value != undefined && value.length != 0)
					sumDeliverable += parseInt(value);  
			});
			
			
			var DeliverableMaxHrsID = deliverableID+'deliverableMaxHrs';
			$('.'+DeliverableMaxHrsID).val(sumDeliverable);
			
			var sumTotal = 0;
			$('.dMaxvalues').each(function(index) {
				var value = $(this).val().trim();
		
				if(value != '' && value != undefined && value.length != 0)
					sumTotal+= parseInt(value);
			});
			
			
			
			$('.projectMaxHrs').html(sumTotal);             
		} 
        
       
        //Method which gets called on delete         
        function delMinMaxHrs(uniqueKey, value, type, parentDeliverableIndexValue, parentBudgetItemIndexValue, resourceBudgetIndexValue)
        {
   			
        	$('.'+uniqueKey).val('');
        	
        	if(type == 'strResource') {        	
        		
        		var budgetItemID = value.split('resBudgetMin')[1];
				var deliverableID = value.split('resBudgetMin')[0];
				var resourceBudgetMinHrsID = deliverableID+'resBudgetMin'+budgetItemID;
				var resourceBudgetMaxHrsID = deliverableID+'resBudgetMax'+budgetItemID;
				
				sumMinHrs(resourceBudgetMinHrsID,type, true);
        		sumMaxHrs(resourceBudgetMaxHrsID,type, true);
        		
        		//Action function method to delete deliverable
        		removeResourceBudget(parentDeliverableIndexValue, parentBudgetItemIndexValue, resourceBudgetIndexValue);
        	}
        	else if(type == 'strBudgetItem')
        	{
        		var budgetItemID = value.split('budgetItemMinHrs')[1];
				var deliverableID = value.split('budgetItemMinHrs')[0];
				var BudgetMinHrsID = deliverableID+'budgetItemMinHrs'+budgetItemID;
				var BudgetMaxHrsID = deliverableID+'budgetItemMaxHrs'+budgetItemID;
				
				sumMinHrs(BudgetMinHrsID,type, true);
        		sumMaxHrs(BudgetMaxHrsID,type, true);
        		
        		//Action function method to delete deliverable
        		removeBudgetItem(parentDeliverableIndexValue, parentBudgetItemIndexValue);
        	}
        	else if(type == 'strDeliverable')
        	{
        		
				var deliverableID = value.split('dKey')[0];
				var DeliverableMinHrsID = deliverableID+'dKey';
				var DeliverableMaxHrsID = deliverableID+'dKey';
				sumMinHrs(DeliverableMinHrsID,type, true);
        		sumMaxHrs(DeliverableMaxHrsID,type, true);
        		
        		//Action function method to delete deliverable
        		removeDeliverable(parentDeliverableIndexValue);
        	}
        }   
        
        
        /* Last Modified By: Trekbin on 10-march-2016 for implementing custom validation using jquery */
        function validateBeforeCreate()
        {
        	
        	var isErrorOccuredForPractiseArea = false;
        	var isErrorOccuredForScopeType = false;
        	var isErrorOccuredForUser = false;
			var isError = false;
			
			$( ".enforceValidationForBudgetItem" ).each(function(index) {
        		
				$(this).find('td.isRequiredPA').each(function() {
					
					if($(this).find('select.pAreaCheck').val() == '') { 
						
						// no value for required block
						$(this).find('span.errorBlockForPA').css("display", "block");
						isErrorOccuredForPractiseArea = true;
					}
					else
					{
						$(this).find('span.errorBlockForPA').css("display", "none");
						isErrorOccuredForPractiseArea = false;
					}
				});  
				
				$(this).find('td.isRequiredST').each(function() {
					
					if($(this).find('select.sTypeCheck').val() == '') { 
						
						// no value for required block
						$(this).find('span.errorBlockForST').css("display", "block");
						isErrorOccuredForScopeType = true;
					}
					else
					{
						$(this).find('span.errorBlockForST').css("display", "none");
						isErrorOccuredForScopeType = false;
					}
				}); 
			});
			
			$( ".enforceValidationForResourceBudget" ).each(function(index) {

				$(this).find('td.isRequiredRB').each(function() {
					
					if($(this).find('div').find('span').find('input').val() == '') {         
					  
						// no value for required block
						$(this).find('span.errorBlockForAU').css("display", "block");
						isErrorOccuredForUser = true;
						
						isError = true;
					}
					else
					{
						$(this).find('span.errorBlockForAU').css("display", "none");
						isErrorOccuredForUser = false;
					}
					
				});  
			}); 
				
			
				
        	notException = true;
        	
        	$('.bItemMin').each(function(index) {
				var classes = $(this).attr('class').split(" ").pop();
				
				var budgetItemID = classes.split('budgetItemMinHrs')[1];
				
				var deliverableID = classes.split('budgetItemMinHrs')[0];
				
				var resourceBudgetMinHrsID = deliverableID+'resBudgetMin'+budgetItemID;
				
				var sum = 0;
				
				$('.'+resourceBudgetMinHrsID).each(function(index) {
					var value = $(this).val().trim();
					if(value != '' && value != undefined && value.length != 0)
						sum += parseInt(value);
				});
				
				if($(this).val() != sum)	
				{
					$(this).attr('style', "border-radius: 5px; border:#FF0000 1px solid;width: 25%;");
					
					notException = false;
				}
				else
				{
					console.log('----INRemove--before--', $(this).attr('style'));
					$(this).attr('style', "border-radius: none; border:#A8A8A8 1px solid; width: 25%;");
					console.log('----INRemove---after-', $(this).attr('style'));
				}
									
			});	
			
			checkMaxHrsValidation();
			
			console.log('notException---', notException);
			
			if(!notException)	
				alert('Resource Hrs. do not equal Budget Item Hrs.');
				
			if(!isErrorOccuredForPractiseArea && !isErrorOccuredForScopeType && !isErrorOccuredForUser && !isError && notException)
			{	
				insertRecords();
				
				if(typeof sforce == 'undefined')
					window.location.href = '{!URLFOR($Action.Project__c.View, objProject.Id)}';
				else
					sforce.one.navigateToSObject('{!objProject.Id}'); 
	        }		
        } 
        
        
        function checkMaxHrsValidation()
        {
        	console.log('maxhrs-----');
        	console.log('---notException-max start-', notException);	
        	
        	$('.bItemMax').each(function(index) {
				var classes = $(this).attr('class').split(" ").pop();
				
				var budgetItemID = classes.split('budgetItemMaxHrs')[1];
				
				var deliverableID = classes.split('budgetItemMaxHrs')[0];
				
				var resourceBudgetMaxHrsID = deliverableID+'resBudgetMax'+budgetItemID;
			
				var sum = 0;
				
				$('.'+resourceBudgetMaxHrsID).each(function(index) {
					var value = $(this).val().trim();
					if(value != '' && value != undefined && value.length != 0)
						sum += parseInt(value);
				});
				if($(this).val() != sum)	
				{
					$(this).attr('style', "border-radius: 5px; border:#FF0000 1px solid;width: 50%;");

					notException = false;
					console.log('---notException-max-', notException);	
				}
				else
				{
					//$(this).removeAttr('style');
					$(this).attr('style', "border-radius: none; border:#A8A8A8 1px solid; width: 50%;");
				}
			});
        } 
        
        
        
    </script>
        
    <apex:form id="myForm" html-novalidate="novalidate">
        
        <!-- START LOADING SCREEN -->
         <apex:actionstatus id="loading" startText="Loading...">
            <apex:facet name="start">
                <div id="salesforceSource_blurybackground" style="position:absolute; left:1px; top:1px; width:100%; height:100%; text-align:center; vertical-align: middle; background-color: #dcdcdc; opacity:0.7;filter:alpha(opacity=60);z-index:9999;">
                    <div id="ManageMembersViewport_loading" class="waitingSearchDiv" style="width: 100%; height: 100%; display: ''; ">
                        <div style="width: 200px;height: 50px;text-align:center;top:250px;" class="waitingHolder">
                            <table align="center" valign="middle" style="width: 100%; height: 100%">
                                <tr align="center" valign="middle" style="width: 100%; height: 30%;">
                                    <td valign="middle" style="padding-top: 15px;" >
                                         <img src="/img/loading.gif"/>
                                         <span class="waitingDescription">
                                             <b>Loading...</b>
                                         </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="ManageMembersViewport_loading" class="waitingSearchDiv" style="width: 100%; height: 100%; display: ''; "></div>
                <script>
                    document.getElementById('ManageMembersViewport_loading').height = window.innerHeight * (3/4);
                </script>
            </apex:facet>
            <apex:facet name="stop"></apex:facet>
        </apex:actionstatus>        
       <!-- END LOADING SCREEN -->
       
        
        <apex:pageMessages id="pgm"> </apex:pageMessages>   
        
<!--         <apex:actionFunction name="refreshBlock" rerender="myForm"/> -->
        
        <apex:actionFunction name="removeResourceBudget" action="{!removeResourceBudgetFromTheBudgetItem}" rerender="MainFooterSection" status="loading" >
            <apex:param name="parentDeliverableIndex" value=""/>
            <apex:param name="parentBudgetItemIndex" value=""/>
            <apex:param name="resourceBudgetIndex" value=""/>
        </apex:actionFunction>
        
        
        <apex:actionFunction name="removeBudgetItem" action="{!removeBudgetItemFromTheDeliverable}" rerender="MainFooterSection" status="loading" >
            <apex:param name="parentDeliverableIndexToRemove" value=""/>
            <apex:param name="budgetItemIndex" value=""/>
        </apex:actionFunction>
        
        
        <apex:actionFunction name="removeDeliverable" action="{!removeDeliverableFromTheSection}" rerender="MainFooterSection" status="loading" >
            <apex:param name="deliverableIndex" value=""/>
        </apex:actionFunction>        
        
        
         <apex:actionFunction name="insertRecords" action="{!insertRecordsToDatabase}" rerender="MainFooterSection" status="loading" >
        </apex:actionFunction>   
        
        <!-- Section for Project-->
        <apex:outputPanel id="MainHeaderSection" rendered="{!If(opp.Project__c != null, true, false)}">
        	
            <table width="100%" style="border:1px solid grey;padding:15px; background-color: #e0e0e0;">
                 <tr>
                    <td style="width:15%"> </td> 
                    <td style="width:25%"> </td>
                    <th style="width:10%"> Min Hrs. </th> 
                    <th style="width:10%"> Max Hrs. </th> 
                    <th style="width:10%"> Hourly Rate </th>
                    <th style="width:30%"> Account Name </th>
                </tr>
                <tr>     
                    <td style="width:15%"> Project Name </td>
                    <td style="width:25%"> <apex:inputText value="{!objProject.Name}" html-readonly="true" style="width:85%" /> </td>
                    <td style="width:10%"> <apex:outputText value="{!if(objProject.Minimum_Budget__c != 0, 0, objProject.Minimum_Budget__c)}"  style="width:40%" styleClass="projectMinHrs" id="projectMinHours"/> </td>
                    <td style="width:10%"> <apex:outputText value="{!if(objProject.Max_Budget__c != 0, 0, objProject.Max_Budget__c)}" style="width:40%;" styleClass="projectMaxHrs" id="projectMaxHours"/> </td>
                    <td style="width:10%"> <apex:outputField value="{!opp.Hourly_Rate__c}" style="width: 59%;" /> </td>
                    <td style="width:30%"> <apex:outputField value="{!opp.Account.Name}" style="width: 50%;" /> </td>
                </tr>
                <tr>
                    <td style="width:15%"> </td>
                    <td> <apex:commandButton value="Add Deliverable" action="{!addDeliverableToSection}" rerender="MainFooterSection" status="loading" style="width: 50%;"/> </td>
                </tr>
            </table>                
        </apex:outputPanel>   
        <br />
        
        <!-- Main Footer Section for deliverables, BudgetItem & resourceBudget-->
        <apex:outputPanel id="MainFooterSection">
            <!-- Section for Deliverable-->
            
            <apex:repeat value="{!lstWrapperDeliverableToLstBItems}" var="deliverable">
                <apex:outputPanel id="deliverableSection">
                    <table width="100%" style="border:none; padding:15px; background-color: #e0e0e0;">
                         <tr>
                            <td style="width:15%"> </td> 
                            <td style="width:25%"> </td>
                            <th style="width:10%"> Min Hrs. </th> 
                            <th style="width:10%"> Max Hrs. </th> 
                            <th style="width:3%"> </th>
                            <th style="width:42%"> </th>
                        </tr> 
                        <tr>     
                            <td style="width:15%"> Deliverable </td>
                            <td style="width:25%"> <apex:inputField value="{!deliverable.objDeliverable.Name}" style="width:85%" /> </td>
                            <td style="width:10%"> <apex:inputText value="{!deliverable.objDeliverable.Minimum_Budget__c}"  html-readonly="true" style="width:40%; background-color : #e0e0e0; border-style:none;" styleClass="{!deliverable.counterWrapVarForDeliverable}deliverableMinHrs {!deliverable.counterWrapVarForDeliverable}dKey dMinvalues" id="deliverableMinHrs"/> </td>
                            <td style="width:10%"> <apex:inputText value="{!deliverable.objDeliverable.Max_Budget__c}" html-readonly="true" style="width:40%; background-color : #e0e0e0; border-style:none;" styleClass="{!deliverable.counterWrapVarForDeliverable}deliverableMaxHrs {!deliverable.counterWrapVarForDeliverable}dKey dMaxvalues" id="deliverableMaxHrs"/> </td>
                            <td style="width:3%"> 
                                <apex:commandLink style="font-size:15px; text-align:center; color:blue;" value="Add" status="loading" action="{!addDeliverableToSection}" rerender="MainFooterSection" />
                            </td>
                            <td style="width:42%; float: left;"> 
                            	<u style="color:blue;"><span style="font-size:15px; text-align:center; color:blue; cursor:pointer;" value="Delete" status="loading" onclick = "delMinMaxHrs('{!deliverable.counterWrapVarForDeliverable}dKey','{!deliverable.counterWrapVarForDeliverable}dKey','strDeliverable','{!deliverable.counterWrapVarForDeliverable}')"> Delete </span></u>
                            </td>
                        </tr>  
					</table>
                        
                        
                <apex:repeat value="{!deliverable.lstWrapperBudgetItemToResourceBudget}" var="budgetItemWrapper">
                    <!-- Section for BudgetItem-->
                    <table width="100%" style="border:none; padding:15px; background-color: #e0e0e0;">
                         <tr rowspan = "2"> 
                            <td style="width:18.5%"> </td> 
                            <td style="width:18.5%"> </td>
                            <th style="width:18.5%"> Practice Area </th> 
                            <th style="width:18.5%"> Scope Type </th> 
                            <th style="width:18.5%"> Min Hrs. </th>
                            <th style="width:18.5%"> Max Hrs. </th>
                            <th style="width:18.5%">  </th> 
                            <th style="width:18.5%">  </th>
                        </tr> 
                        <tr rowspan = "2" class = "enforceValidationForBudgetItem">     
                            <td style="width:18.5%"> Budget Item </td>
                            <td style="width:18.5%"> <apex:inputField value="{!budgetItemWrapper.objBudgetItem.Name}"/> </td>
                            <td style="width:18.5%" class="isRequiredPA"> 
                            	<apex:inputField id="txtPracticeArea" value="{!budgetItemWrapper.objBudgetItem.Practice_Area__c}" style="width:35%" styleClass="requiredFieldError pAreaCheck" /> 
                            	<span class="errorBlockForPA" style="color:#d74c3b; display:none;"> Error: You must enter a value </span>
                            </td>
                            <td style="width:18.5%" class="isRequiredST"> 
                            	<apex:inputField id="txtScopeType" value="{!budgetItemWrapper.objBudgetItem.Scope_Type__c}" style="width:68%;" styleClass="requiredFieldError sTypeCheck" /> 
								<span class="errorBlockForST" style="color:#d74c3b; display:none;"> Error: You must enter a value </span>
                            </td>
                            <td style="width:18.5%"> <apex:inputField value="{!budgetItemWrapper.objBudgetItem.Minimum_Hours_Original_Scope__c}" style="width: 25%;" styleClass="{!deliverable.counterWrapVarForDeliverable}budKey{!budgetItemWrapper.counterWrapVarForBudgetItem} bItemMin {!deliverable.counterWrapVarForDeliverable}budgetItemMinKey {!deliverable.counterWrapVarForDeliverable}budgetItemMinHrs{!budgetItemWrapper.counterWrapVarForBudgetItem} " id="budgetItemMinHours" onkeyup="sumMinHrs(this, 'strBudgetItem', false);"/> <!-- <div id="errMsg"></div>  --> </td> 
                            <td style="width:18.5%"> <apex:inputField value="{!budgetItemWrapper.objBudgetItem.Maximum_Hours_Original_Scope__c}" style="width: 50%;" styleClass="{!deliverable.counterWrapVarForDeliverable}budKey{!budgetItemWrapper.counterWrapVarForBudgetItem} bItemMax {!deliverable.counterWrapVarForDeliverable}budgetItemMaxKey {!deliverable.counterWrapVarForDeliverable}budgetItemMaxHrs{!budgetItemWrapper.counterWrapVarForBudgetItem} " id="budgetItemMaxHours" onkeyup="sumMaxHrs(this, 'strBudgetItem', false);"/> <!-- <div id="errMsg"></div>  --> </td>
                            <td style="width:18.5%"> 
                                <apex:commandLink style="font-size:15px; text-align:center; color:blue;" value="Add" status="loading" action="{!addBudgetItemToDeliverable}" rerender="MainFooterSection">
                                    <apex:param value="{!deliverable.counterWrapVarForDeliverable - 1}" name="parentDeliverableIndex" />
                                </apex:commandLink>
                            </td>
                            <td style="width:18.5%"> 
                            	<u style="color:blue;"><span style="font-size:15px; text-align:center; color:blue; cursor:pointer;" value="Delete" status="loading" onclick = "delMinMaxHrs('{!deliverable.counterWrapVarForDeliverable}budKey{!budgetItemWrapper.counterWrapVarForBudgetItem}','{!deliverable.counterWrapVarForDeliverable}budgetItemMinHrs{!budgetItemWrapper.counterWrapVarForBudgetItem}','strBudgetItem','{!deliverable.counterWrapVarForDeliverable - 1}','{!budgetItemWrapper.counterWrapVarForBudgetItem}')"> Delete </span></u>
                            </td>
                        </tr>
                        <br />
                        <tr class ="RBValidatorClass">
                            <apex:repeat value="{!budgetItemWrapper.lstWrapperResourceBudgetToCounterVar}" var="resourceBudget">
                                <!-- Section for ResourceBudget-->
                                <table width="100%" style="border:none; padding:15px; background-color: #e0e0e0;">
                                    <tr>
                                        <td style="width:18.5%"> </td> 
                                        <td style="width:18.5%"> </td>
                                        <th style="width:18.5%"> Resource </th> 
                                        <th style="width:18.5%"> Unbillable </th> 
                                        <th style="width:18.5%"> Min Hrs. </th>
                                        <th style="width:18.5%"> Max Hrs. </th>
                                        <th style="width:18.5%">  </th>
                                        <th style="width:18.5%">  </th>
                                    </tr> 
                                    <tr class = "enforceValidationForResourceBudget"> 
                                        <td style="width:18.5%"> </td> 
                                        <td style="width:18.5%"> </td>   
                                        <td style="width:18.5%" class="isRequiredRB"> 
                                        	<apex:inputField id="txtAssignedUser" value="{!resourceBudget.objResourceBudget.Assigned_User__c}" styleClass="requiredFieldError aUserCheck" /> 
                                        	<span class="errorBlockForAU" style="color:#d74c3b; display:none;"> Error: You must enter a value </span>
                                       	</td>
                                        <td style="width:18.5%"> <apex:inputField value="{!resourceBudget.objResourceBudget.UnBillable__c}" style="width:15%" /> </td>
                                        <td style="width:18.5%"> <apex:inputField value="{!resourceBudget.objResourceBudget.Minimum_Hours__c}" style="width: 25%;" styleClass="{!deliverable.counterWrapVarForDeliverable}resBudgetMin{!budgetItemWrapper.counterWrapVarForBudgetItem} {!deliverable.counterWrapVarForDeliverable}resKey{!budgetItemWrapper.counterWrapVarForBudgetItem}__{!resourceBudget.counterWrapVarForResourceBudget} " onkeyup="sumMinHrs(this, 'strResource', false);"/> </td>
                                        <td style="width:18.5%"> <apex:inputField value="{!resourceBudget.objResourceBudget.Maximum_Hours__c}" style="width: 50%;" styleClass="{!deliverable.counterWrapVarForDeliverable}resBudgetMax{!budgetItemWrapper.counterWrapVarForBudgetItem} {!deliverable.counterWrapVarForDeliverable}resKey{!budgetItemWrapper.counterWrapVarForBudgetItem}__{!resourceBudget.counterWrapVarForResourceBudget} " onkeyup="sumMaxHrs(this, 'strResource', false);"/> </td>
                                        <td style="width:18.5%"> 
                                            <apex:commandLink style="font-size:15px; text-align:center; color:blue;" value="Add" action="{!addResourceBudgetToBudgetItem}" status="loading" rerender="MainFooterSection">
                                                <apex:param value="{!deliverable.counterWrapVarForDeliverable - 1}" name="parentDeliverableIndex" />
                                                <apex:param value="{!budgetItemWrapper.counterWrapVarForBudgetItem}" name="parentBudgetItemIndex" />
                                            </apex:commandLink>
                                        </td> 
                                        <td style="width:18.5%"> 
                                        	<u style="color:blue;"><span style="font-size:15px; text-align:center; color:blue; cursor:pointer;" value="Delete" status="loading" onclick = "delMinMaxHrs('{!deliverable.counterWrapVarForDeliverable}resKey{!budgetItemWrapper.counterWrapVarForBudgetItem}__{!resourceBudget.counterWrapVarForResourceBudget}','{!deliverable.counterWrapVarForDeliverable}resBudgetMin{!budgetItemWrapper.counterWrapVarForBudgetItem}', 'strResource', '{!deliverable.counterWrapVarForDeliverable - 1}', '{!budgetItemWrapper.counterWrapVarForBudgetItem}', '{!resourceBudget.counterWrapVarForResourceBudget}');" > Delete </span></u>
                                        </td>
                                    </tr> 
                                </table>
                            </apex:repeat>
                        </tr>
                    </table>
                </apex:repeat>  
                             
                </apex:outputPanel>  
                <br />
            </apex:repeat>
        </apex:outputPanel>
        
        <apex:outputPanel rendered="{!If(opp.Project__c != null, true, false)}">
	        <apex:commandButton id="cancelBtn" value="Cancel" action="{!cancelAndRedirectToOppty}" immediate="true" status="loading" style="float:right; padding-top: 5px; padding-right: 3px;"/>
	        <button class='yui3-button' style = "float:right; cursor:pointer;" onclick="return false;"> 
	        	<span class='yui3-button'> <span class='yui3-button-icon yui3-button-icon-bold' onclick="validateBeforeCreate()"  status="loading" > Create </span> </span>
	        </button>
        </apex:outputPanel>
    </apex:form>      
</apex:page>